<p>Won bets: <%= @statistics.won_count %></p>
<p>Draw bets: <%= @statistics.draw_count %></p>
<p>Lost bets: <%= @statistics.lost_count %></p>
<p>Total bets: <%= @statistics.total_count %></p>
<p>Profit: <%= @statistics.profit %></p>
<p>ROI: <%= @statistics.roi %></p>
